@import '../../styles/utils.scss';

.forecast {
  padding: 5rem 0;

  & + &-list .weather-cards {
    background-color: #fff;
  }

  &__back-button {
    color: $color-link;
    cursor: pointer;
    margin-bottom: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }
}