@import '../../styles/utils.scss';

.weather-card {
  text-align: center;

  background-color: $color-white;
  padding: 1.2rem 0;
  border-radius: 3px;
  
  flex-basis: 11%;
  min-height: 232px;
  min-width: 140px;

  &__temp {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
  }

  &__desc {
    font-style: italic;
  }

  @media (max-width: $break-point-desktop) {
    margin-bottom: 1.5rem;
    min-width: 200px;
  }

  @media (max-width: $break-point-tablet-sm) {
    flex-basis: 46%;
    min-width: auto;
  }
}