@import '../../styles/utils.scss';

.todays-weather {

  &__title {
    font-size: 1.5rem;
    color: $color-white;
  }

  &__main {
    @extend %flex-space-beetween-center;

    margin-bottom: 2.5rem;
  }

  &__link {
    font-size: 1.2rem;
    color: $color-link;
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.weather-cards {
  @extend %flex-space-beetween-center;
}