%degree-symb {
  content: "\00B0";
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-space-beetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%position-zero-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}