$color-grey: #8d8d8d;
$color-dark-grey: #808E95;
$color-error: #b61827;
$color-white: #fff;
$color-overlay: #00000094;


$break-point-desktop-lg: 1440px;
$break-point-desktop: 1200px;
$break-point-tablet: 992px;
$break-point-tablet-sm: 768px;
$break-point-phone-lg: 576px;
$break-point-phone: 460px;